:root {
  --bg-color: #121212;
  --calc-bg: #22252d;
  --btn-bg: #292d36;
  --text-color: #ffffff;
  --accent-color: #26e8ad;
  --operator-color: #e66a6a;
}

body {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: var(--bg-color);
  font-family: 'Inter', -apple-system, sans-serif;
  color: var(--text-color);
}